.gamearea {
    width: 700px;
    height: 500px;
    display: flex justify-content-around;
    background-color: lightcoral;
    border: white dotted;

}  

.icons {
    background-color: Transparent;
    border: none;
    cursor:pointer;
    overflow: hidden;  
    position: absolute;
    bottom: 20px;
    left: 50%;

}

